@use '@styles/variable' as *;
@use '@styles/mixin' as *;

.container {
    margin-top: 10px;
    .title {
        @include flex_box_custom(start, center, 4px);
        width: 100%;
        padding: 9px;
        color: #404040;
        font-size: 14px;
        cursor: pointer;
    }

    .activeIcon {
    }

    .activeTitle {
        background-color: #f7f7f7;
    }

    .contentMenu {
        height: 0px;
        overflow: hidden;
        transition: all 0.2s ease-in;
        padding: 0 20px;
    }

    .isVisibility {
        padding: 20px;
        height: auto;
        overflow: visible;
    }
}
