@use '@styles/variable' as *;
@use '@styles/mixin' as *;

.container {
    @include flex_box_custom(space-between, space-between, 0px);

    flex-direction: column;
    padding: 20px;
    max-height: 95vh;

    .products {
        height: 65vh;
        overflow-y: auto;
    }

    .total {
        @include flex_box_custom(space-between, center, 0px);
    }

    .btnCart {
        width: 100%;
        margin: 8px 0;
    }

    .boxEmpty {
        text-align: center;
        font-size: 14px;
        color: $second_color;
        margin-top: 20px;
    }
}

.isEmpty {
    justify-content: unset;
}
