@use '@styles/variable' as *;
@use '@styles/mixin' as *;

.container {
    @include flex_box_custom(center, center, 60px);

    margin: 65px 0 15px;
}

.headline {
    height: 2px;
    width: 100%;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 30px;
}

.containerMiddleBox {
    width: 100%;
    padding: 0 20px;
    text-align: center;
    line-height: 10px;
}

.des {
    font-size: 14px;
    color: $five_color;
    text-transform: uppercase;
}

.title {
    font-size: 24px;
    color: $primary_color;
}
