@use '@styles/variable' as *;
@use '@styles/mixin' as *;

.containerMethod {
    @include flex_box_custom(center, center, 0px);
    padding: 25px 0;
    flex-direction: column;
    position: relative;
    height: 50px;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 40px;

    .titleMethod {
        width: 70%;
        position: absolute;
        top: -10px;
        text-align: center;
        background-color: #fff;
        padding: 0 10px;
        text-transform: uppercase;
        font-size: 14px;

        span {
            color: #2e7d32;
        }
    }

    .boxMethod {
        @include flex_box_custom(center, center, 10px);
    }

    .imgMethod {
        border: 1px solid #e1e1e1;
        width: 50px;
        height: 34px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }
    }
}
