@use '@styles/variable' as *;
@use '@styles/mixin' as *;

.wrapper {
    @include flex_box_custom(center, center, 0);

    left: 0;
    right: 0;
}

.topHeader {
    position: absolute;
    top: 0;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.fixedToHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #ffffffe6;
    animation: slideDown 0.4s ease-in;
    box-shadow: 2px 0 12px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
}
.containerHeader {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;

    .containerBox {
        @include flex_box_custom(center, center, 4px);
    }
}

.containerBoxIcon {
    @include flex_box_custom(center, center, 8px);
    cursor: pointer;
}

.containerMenu {
    @include flex_box_custom(center, center, 20px);
    margin: 0 20px;
}

.boxIcon {
    @include flex_box_custom(center, center, 0);

    background-color: $primary_color;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
}

.menu::after {
    position: absolute;
    top: calc(100% + 4px);
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: $primary_color;
    transform-origin: right;
    transform: scale(0);
    opacity: 0;
}

.menu {
    position: relative;
    cursor: pointer;
    font-size: 15px;
    color: #333;

    .subMenu {
        position: absolute;
        width: 100%;
        padding: 10px;
        background-color: #fff;
        top: calc(100% + 18px);
    }
}

.menu:hover::after {
    transform: scale(1);
    transition: all 0.3s ease-in;
    opacity: 1;
}
